<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4"  *ngIf="userlogin">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">
              <img src=
              "https://internet-banking.dbs.com.sg/IB/dbs/images/desktoplogo.png" />
            </div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Hi, welcome back! 👋👋</h3>
            <p class=" text-sm mb-5"><em>LIVE MORE, BANK LESS!</em></p>
            <div class="form-check form-check-inline">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
              />
              <label class="form-check-label" for="inlineRadio1"><b>ADMIN</b></label>
            </div>
            <div class="form-check form-check-inline">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
              />
              <label class="form-check-label" for="inlineRadio2"><b>CASHIER</b></label>
            </div>
            <div class="form-check form-check-inline">
              <input
                mdbRadio
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="option3"
              />
              <label class="form-check-label" for="inlineRadio3"><b>ITSUPPORT</b></label>
            </div>
            <form id="loginForm" action="index.html">
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com" required [(ngModel)]="email_address" >
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" placeholder="Password" required [(ngModel)]="password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
              </div>
              <button class="btn btn-primary" type="button">Submit</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </div>

